.home-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: scroll;
}

.home-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1100px;
  padding-top: 90px;
}
.home-img {
  height: 100px;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .home-img {
    height: 100px;
    width: 100px;
  }
}
.home-heading {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 600;

  color: #1e293b;
  text-align: center;
}
.home-description {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.5;
  color: #909ea4;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18px;
  }
}
.description-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .description-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
}

.connect-img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .connect-img {
    max-width: 500px;
    order: 1;
  }
}
.home-detail-description {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.5;
  color: #404e59;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .home-detail-description {
    margin-right: 20px;
  }
}
